.rightArrow {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 2rem;
  }
  
.leftArrow {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 2rem;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}